html {
    font-size: 10px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    background-color: #5e5555;
}

section {
    max-width: 40rem;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 2rem;
}

.container_form {
    background-color: white;
    box-shadow: 0rem 0rem .5rem rgb(250, 250, 250);
    border-radius: 2rem;
    margin-top: 8rem;
    border-radius: 30px 0px 30px 0px;
}

#main_form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 3rem 3rem;
    box-sizing: border-box;
}

.label_form {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.inputbox,
.submitBtn {
    max-width: 350px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.inputbox p {
    text-align: center;
    font-size: 1.4rem;
}

button[name="submit_button"] {
    font-size: 1.8rem;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    background-color: rgb(255, 0, 0);
    width: 100%;
    padding: 1rem 2rem;
    box-sizing: border-box;
    border-radius: 2rem;
    border: 2px solid #8382826b;
    transition: 500ms all;
    cursor: pointer;
    margin-top: 1rem;
}

button[name="submit_button"]:hover {
    transform: scale(1.1);
    box-shadow: 0.5rem 0.5rem 1rem black;
}

.input_style {
    font-size: 1.5rem;
    width: 100%;
    padding: 1rem 2rem;
    box-sizing: border-box;
    border-radius: 2rem;
    border: 2px solid #8382826b;
    outline: none;
}

.loaderBg {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #4433119e;
    box-sizing: border-box;
    z-index: 10;
}

.eventLoader {
    position: fixed;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}

.eventLoader div {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: #f1af2300;
    border: 1px solid rgb(255 195 0 / 90%);
    box-shadow: 0rem 0rem 1rem rgb(245, 175, 25);
}

.eventLoader div:nth-child(2) {
    margin-left: 4rem;
    margin-right: 4rem;
}

.eventLoader div:nth-child(1) {
    animation: scaleAnimation 2s infinite;
}

.eventLoader div:nth-child(2) {
    animation: scaleAnimation 2s infinite 1s;
}

.eventLoader div:nth-child(3) {
    animation: scaleAnimation 2s infinite 2s;
}

@keyframes scaleAnimation {

    0%,
    100% {
        transform: scale(1);
        background-color: #f1af2300;
    }

    50% {
        transform: scale(1.2);
        background-color: #f4b907;
    }
}

@media (max-width: 450px) {
    .eventLoader div {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        background-color: #f1af2300;
        border: 1px solid rgb(255 195 0 / 90%);
        box-shadow: 0rem 0rem 5rem rgb(245, 175, 25), 0rem 0rem 10rem rgb(245, 175, 25);
    }

}